@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Futura", sans-serif;
  font-size: 18px;
  background-color: #984008;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

footer .flLeft {
  float: left;
  width: 40%;
}
footer .flRight {
  float: right;
  width: 40%;
}
footer .flRight p {
  text-align: right;
}

header {
  background-color: #333;
  color: #eee;
}

nav {
  background-color: red;
}
